@font-face {
    font-family: 'Merriweather';
    src: url('assets/fonts/merriweather-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ropa Sans';
    src: url('assets/fonts/ropasans-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/ropasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Merriweather', sans-serif;
    color: #141619;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper-background {
    background-image: url("/assets/images/background.jpeg");
    background-size: cover;
    padding-bottom: 48px;
    width: 100%;
}

.wrapper {
    max-width: 1173px;
    margin: 0 auto;
    padding: 52px 0 0 0;
}

.wrapper-background .title-secondary {
    color: #DFE4E8;
}

@media screen and (max-width: 1220px) {
    .wrapper {
        padding: 52px 24px 0 24px;
    }
}

.title {
    font-family: 'Ropa Sans', sans-serif;
    font-weight: normal;
    color: #DFE4E8;
}

.title-primary {
    font-size: 43px;
}

.title-secondary {
    color: #00549f;
    font-size: 22px;
    letter-spacing: 3px;
}

.underlined {
    padding-bottom: 8px;
    border-bottom: 1px solid #00549F;
}

p {
    font-family: Merriweather, serif;
    font-size: 16px;
    line-height: 21px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 28px;
    padding-bottom: 48px;
}

@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

.mt-60 {
    margin-top: 60px;
}

.item {
    background-color: #061542DD;
    border-radius: 8px;
    padding: 16px;
}

.item .text {
    color:  #DFE4E8;
    font-size: 13px;
    line-height: 150%;
    margin-top: 8px;
}

.item .icon {
    width: 110px;
    height: auto;
    margin: auto;
}

.item .icon svg {
    fill: #DFE4E8;
    width: 100%;
    height: 100%;
}

.footer {
    background-color: #DFE4E8;
}

.footer .wrapper {
    max-width: 600px;
}

.links {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.links::after {
    position: absolute;
    content: "";
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 75%;
    background-color: #9AA8B6;
}

.link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Ropa Sans", sans-serif;
    color: #61788E;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    align-items: center;
}

.link-disabled {
    opacity: 0.6;
}

.link span {
    padding-bottom: 16px;
    position: relative;
}

.link span::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 12px;
    width: 0;
    height: 1px;
    background-color: #9AA8B6;
    transition: all 0.2s ease-in-out;
}

.link:hover span::after {
    width: 100%;
}

.footer .nav-secondary {
  margin: 32px 0px;
  text-align: center;
}

.footer .nav-secondary ul {
  font-family: "Ropa Sans", sans-serif;
  width: 100%;
  padding: 0;
}

.footer .nav-secondary li {
  display:inline-block;
}

.footer .nav-secondary li:not(:last-child)::after {
  padding: 0px 8px;
  content: "|";
  color: #9AA8B6;
}

.footer .nav-secondary a {
  color: #61788E;
  text-align: center;
 
  font-weight: 700;
  text-decoration: none;
}

.footer .nav-secondary a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .links::after {
      content: none;
  }

  .footer .nav-secondary ul {
    display: inline-flex;
    flex-direction: column;
  }

  .footer .nav-secondary li {
    margin-bottom: 8px;
  }

  .footer .nav-secondary li:not(:last-child)::after {
    padding: 0px;
    content: "";
  }
}
